body {
  font-family: 'Knewave', Helvetica, sans-serif;
}

h4 {
  color: #ff5bb0;
  opacity: 1;
}

.coolTitle {
  display: inline-block;
  margin: 10px;
  font-family: 'Knewave', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-7deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow:
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
}

.deleteButton {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
  background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
  background-color:#ff5bb0;
  border-radius: 12px;
  border:1px solid #ee1eb5;
  cursor:pointer;
  padding: 7px 7px;
  text-decoration:none;
}
